In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#load File
school_data_to_load = Path("schools_complete.csv")
student_data_to_load = Path("students_complete.csv")

In [3]:
#Read File
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
#Review read school file
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
#Review student read file
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Combine the data into a single dataset  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [7]:
#School and Student data combined
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
#Unique School name count
unique_school_name_df = school_data_complete_df["school_name"].nunique()
unique_school_name_df

15

In [9]:
#Convert school count to integer
schools = pd.DataFrame(data=['15'],columns=['Total Schools'])
schools['Total Schools'] = schools['Total Schools'].astype(int)
schools

   Total Schools
0             15

In [10]:
#Total students
total_students_df = school_data_complete_df["Student ID"].nunique()
total_students_df

39170

In [11]:
#Convert total student count to integer
students = pd.DataFrame(data=['39170'], index=[0],columns=['Total Students'])
students['Total Students'] = students['Total Students'].astype(int)
students

   Total Students
0           39170

In [12]:
#Total Budget
total_budget_df = school_data_df["budget"].sum()
total_budget_df

24649428

In [13]:
#Convert total budget to integer
budget = pd.DataFrame(data=['24649428'], index=[0],columns=['Total Budget'])
budget['Total Budget'] = budget['Total Budget'].astype(int)
budget

   Total Budget
0      24649428

In [14]:
#Average math score
average_math_score_df = school_data_complete_df["math_score"].mean()
average_math_score_df

78.98537145774827

In [15]:
#Convert average math score to integer
average_math_score = pd.DataFrame(data=['78.985732'], index=[0],columns=['Average Math Score'])
average_math_score

  Average Math Score
0          78.985732

In [16]:
#Average reading score
average_reading_score_df = school_data_complete_df["reading_score"].mean()
average_reading_score_df

81.87784018381414

In [17]:
#Convert average reading score to integer
average_reading_score = pd.DataFrame(data=['81.87784'], index=[0],columns=['Average Reading Score'])
average_reading_score

  Average Reading Score
0              81.87784

In [18]:
#Students passing math  
passing_math_count_df = school_data_complete_df[(school_data_complete_df["math_score"] >=70)].count()["student_name"]
passing_math_count_df

29370

In [19]:
#Students passing math %
passing_math_percent_df = passing_math_count_df / (students) * 100
percent_passing_math = pd.DataFrame(data=['74.980853'], index=[0],columns=['% Passing Math'])
percent_passing_math

  % Passing Math
0      74.980853

In [20]:
#Students passing reading 
passing_read_count_df = school_data_complete_df[(school_data_complete_df["reading_score"] >=70)].count()["student_name"]
passing_read_count_df

33610

In [21]:
#Students passing reading %
passing_read_percent_df = passing_read_count_df / (students) * 100
percent_passing_reading = pd.DataFrame(data=['85.805463'], index=[0],columns=['% Passing Reading'])
percent_passing_reading

  % Passing Reading
0         85.805463

In [22]:
#% of students that passed math and reading and change to integer
passing_math_reading_count = school_data_complete_df[
    (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count / (students) * 100
overall_passing_rate = pd.DataFrame(data=['65.172326'], index=[0],columns=['Overall Passing Rate'])
overall_passing_rate

  Overall Passing Rate
0            65.172326

In [23]:
#Create district summary
district_summary_info = pd.concat([schools, students, budget, average_math_score, average_reading_score, percent_passing_math, percent_passing_reading,overall_passing_rate], axis=1)
district_summary_info["Total Students"] = district_summary_info["Total Students"].map("{:,}".format)
district_summary_info["Total Budget"] = district_summary_info["Total Budget"].map("${:,.2f}".format)
district_summary_info

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985732,81.87784,74.980853,85.805463,65.172326

In [24]:
#find school types
school_types = school_data_complete_df["type"]
school_types

0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object

In [25]:
#Total students per school
school_enrollees = school_data_complete_df["school_name"]
Info_school_enrollees = pd.DataFrame(school_enrollees)
per_school_enrollees = Info_school_enrollees.groupby("school_name").size()
per_school_enrollees

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [30]:
# Calculate the total school budget and per capita spending per school
school_money_df = school_data_complete_df
budget_break_down = pd.DataFrame(school_money_df)
per_school_budget = budget_break_down[["school_name","budget"]].groupby("school_name")["budget"].sum()
per_school_budget

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [31]:
#Per school capita
per_capita = pd.DataFrame(per_school_budget)
per_student_info = pd.DataFrame(per_school_enrollees)
per_capita_per_school = pd.merge(per_capita, per_student_info,on="school_name", how="outer")
per_capita_per_school ["Per Student Budget"] = per_capita_per_school["School Budget"] / per_capita_per_school["count"]
per_capita_per_school["School Budget"] = per_capita_per_school["School Budget"].map("${:,.2f}".format)
per_capita_per_school["Per Student Budget"] = per_capita_per_school["Per Student Budget"].map("${:,.2f}".format)
per_capita_per_school

KeyError: 'School Budget'

In [ ]:
# Calculate the average test scores per school
per_school_info_df = school_data_complete_df
math_and_reading_per_school = pd.DataFrame(per_school_info_df)
per_school_scores = math_and_reading_per_school[["school_name","math_score","reading_score"]].groupby("school_name").agg({"math_score": "mean","reading_score": "mean"}).reset_index()
per_school_scores

In [ ]:
# Calculate the number of students with math scores of 70 or higher
math_students_above_70 = school_data_complete_df[(school_data_complete_df["math_score"] >=70)]
math_students_above_70

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher
school_math_students_above_70 = school_data_complete_df[school_data_complete_df["math_score"] >=70].groupby("school_name").size().reset_index(name="Total Passing Math")
school_math_students_above_70

In [ ]:
# Calculate the number of student with reading scores of 70 or higher
read_students_above_70 = school_data_complete_df[(school_data_complete_df["reading_score"] >=70)]
read_students_above_70

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
per_school_read_above_70 = school_data_complete_df[school_data_complete_df["reading_score"] >=70].groupby("school_name").size().reset_index(name="Total Passing Reading")
per_school_read_above_70

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
school_pass_both_info = pd.merge(per_school_read_above_70, school_math_students_above_70, on='school_name')
school_pass_both_info['total passing both'] = school_pass_both_info['Total Passing Math'] + school_pass_both_info['Total Passing Reading']
school_pass_both = school_pass_both_info.groupby('school_name')['total passing both'].sum()

school_pass_both

In [ ]:
#calculate the passing rates
rates_passing_math_info = school_math_students_above_70['Total Passing Math'] / per_school_enrollees['count'] * 100
rates_passing_math_info = rates_passing_math_info.astype(int)
rates_passing_reading_info = per_school_read_above_70['Total Passing Reading'] / per_school_enrollees['count'] * 100
rates_passing_reading_info = rates_passing_reading_info.astype(int)
passing_rates_both = pd.concat([rates_passing_reading_info, rates_passing_math_info], axis=1, ignore_index=True)
passing_rates_both.columns = ['% Passing Reading' , '% Passing Math']
passing_rates_both

In [ ]:
#calculate overall the passing rates
overall_passing_rate = school_pass_both['total passing both'] / per_school_enrollees['count'] * 100
overall_passing_rate = overall_passing_rate.astype(int)

overall_passing_rate.reset_index(drop=True, inplace=True)
overall_passing_rate

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.concat([per_capita_per_school, per_school_scores,passing_rates_both,overall_passing_rate], axis=1).loc[:,~pd.concat([per_capita_per_school, per_school_scores,passing_rates_both,overall_passing_rate], axis=1).columns.duplicated()]

# Display the DataFrame
per_school_summary